/*** Navbar ***/
.nav-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
    }

.dropdown-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
    }

/*** Body ***/
.body{
font-family: 'Noto Sans', sans-serif;
}

/*** Footer ***/
.my-footer{
    background-color: black;
    height: 40px;
    }

/*** Product details ***/
.row .card .p-title{
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Helvetica;
}

/*** Search HTML ***/
.my_search_text{
    padding-top: 20px;
    color: balck;
}

/*** Cart page ***/
.my_custom_table{
    min-width: 400px
    font-size: 14px
}

.my_custom_thead{
    font-weigth: normal;
    text-transform: uppercase;
    latter-spacing: 2em;
    background-color: pink;
}

.my-cart-img{
    width: 100px;
    height: 100px;
}

.my-table-center{
    text-align: center;
    vertical-align: middle;
}