<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

.bwidth {
    width: 250px;
}

</style>
<nav>
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'appShopping:allCategory' %} " style="font-size:200%;">All Category</a>
    </div>
  </div>

  <div class="container">
      <div class="row" >
          <div class="d-grid gap-2 d-md-block" style="margin: 5px">
      {% for cat in links %}
              <a href="{{cat.get_url}}">
                  <button type="button" class="btn btn-primary bwidth" style="font-size:150%">{{cat.name}}</button>
              </a>
      {% endfor %}
          </div>
      </div>
  </div>
</nav>