{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        {{product.name}}
{% endblock %}

{% block title %}
        Search - Shoppy Hub
{% endblock %}

{% block content %}
<h3>You have searched for <b>{{query}}</b> </h3>

<div class="container">
<div class="row">
    {% for prdt in products %}
    <div class="col-md-3 mb-4">
        <div class="card card-body h-100" style="width: 18rem;">
          <img src="{{prdt.image.url}}" class="card-img-top" alt="{{prdt.name}}" style="width: 250px; height: 160px;">
          <div class="card-body">
            <h5 class="card-title">{{prdt.name}}</h5>
            <p class="card-text">₹{{prdt.price}}</p>
              {% if prdt.stock < 1 %}
                <a href="/" class="btn btn-danger">Out of stock</a>
              {% else %}
                <a href="{{prdt.get_url}}" class="btn btn-primary">Go</a>
              {% endif %}
          </div>
        </div>
    </div>
    {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text"> 0 results found</p>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}